body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 2px;
  }
  
  ol, ul {
    padding-left: 3px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .active {
    border: 4px solid black;
  }

  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 10px;
    height: 10px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10px;
  }
  
  .square:focus {
    outline: none;
  }

  .setPlayer0 {
    background: blue;
  }

  .activePlayer0{
    border: 2px solid blue;
  }

  .setPlayer1 {
    background: green;
  }

  .activePlayer1{
    border: 2px solid green;
  }

  .setPlayer2 {
    background: purple;
  }
  
  .activePlayer2{
    border: 2px solid purple;
  }

  .setPlayer3 {
    background: darkorange;
  }
  
  .activePlayer3{
    border: 2px solid darkorange;
  }

  .invalid{
    border: 2px solid red;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .player-board {
    margin: 10px;
    float: left;
  }
  
  .game-info {
    margin-left: 2px;
  }